<!DOCTYPE html>
<html>
<head>
    {% include "header.html" %}
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='public/main.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>